body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--light-black);
}

:root {
  --light-black: #2b283a;
  --light-white-purple: #d0aaff;
  --purple: #5f29a3;
  --whitesmoke: whitesmoke;
  --h1-36px: 2.25rem;
  --h2-24px: 1.5rem;
  --h3-20px: 1.25rem;
  --fw1: 400;
  --fw2: 500;
}

header {
  background-color: var(--purple);
  padding: 45px 0;
}

h1 {
  font-size: var(--h1-36px);
  color: whitesmoke;
}

h2 {
  margin-top: 0;
}

h3 {
  font-size: var(--h3-20px);
  color: var(--light-white-purple);
}

section {
  padding: 45px 0;
}

.sneakers {
  width: 100%;
}
